body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
td {
    border: 1px solid black;
    width: 50px;
}
.green {
    background-color: greenyellow;
}
.violet {
    background-color: violet;
}
.white {
    background-color: white;
}
.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}
.rose {
    background-color: pink;
}
.gray {
    background-color: gray;
}
.blue1 {
    background-color: skyblue;
}
.blue2 {
    background-color: rgb(70, 202, 255);
}
.brown {
    background-color: rgb(102, 48, 48);
}
.violet2 {
    background-color: rgb(245, 178, 245);
}
a {
    color: black;
    font-weight: bolder;
    font-size: 14px;
}
.nje {
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
}
.bosh {
    background-color: transparent;
    border: 1px solid transparent;
}
sup {
    font-weight: bold;
}
#invisible {
    color: transparent;
    border: 1px solid transparent;
    background-color: transparent;
}
.dy {
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    width: 30px;
}
h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
ul li {
    display: inline;
    font-size: 20px;
    border: 1px solid black;
    height: auto;
    width: auto;
    margin-right: 9px;
    padding: 5px;
    column-rule-style: ridge;
}
#gazfisnik {
    background-color: violet;
}
#jometalreaktiv {
    background-color: greenyellow;
}
#metalalkalin {
    background-color: orange;
}
#metalkalimtar {
    background-color: pink;
}
#metaloid {
    background-color: skyblue;
}
#metalpastranzicionit {
    background-color: rgb(70, 202, 255);
}
#lantanidi {
    background-color: rgb(102, 48, 48);
}
#aktinid {
    background-color: rgb(245, 178, 245);
}
#metalalkalintokesor {
    background-color: yellow;
} 